.card-list{
    padding-left: 20px;
}

.card{
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 1.5rem;

    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;

    transition: .2s;
}

.card h2{
    font-size: 2rem;
}


@media only screen and (min-width: 600px){
    .card-list{
        display: flex;
    }
    .card:hover{
        transform: translateY(-1rem);
    }
    .card:hover~.card{
        transform: translateX(130px);
    }
    .card:not(:first-child){
        margin-left: -130px;
    }
    .card{
        height: 400px;
        width: 250px;
    }
}

@media only screen and (max-width: 600px){
    .card-list{
        display: flex;
        flex-direction: column;
    }
    .card{
        height: 400px;
        width: 85%;
    }
}
